<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/cssfile/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="main min-h-screen bg-zinc-900 p-8 ">
        <a class="text-blue-500 inline-block mb-8 " href="/">Go back home</a>
        <h1 class="text-4xl tracking-tighter text-white"><%=filename%></h1>
        <pre class="text-xl mt-5 font-light text-white bg-zinc-800 p-4 rounded-md"><%= filedata%></pre>
    </div>

    <script src="/jsfiles/script.js"></script>
</body>

</html>